<div class="no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l4">
        <div class="image-container">
          <img src="assets/img/alextessier.png" class="imgAboutUs">
          <h4>Alex Tessier</h4>
          <h5>Développeur front</h5>
          <!-- <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero arcu, semper sed rutrum sit amet, fringilla aliquam sapien. Ut volutpat dolor eget leo maximus, ut posuere arcu vulputate. Maecenas euismod porttitor neque a mollis. Sed aliquam pellentesque lacinia. Nunc convallis libero vel ante luctus scelerisque. Cras vitae imperdiet nisl. Pellentesque sollicitudin, est at mattis auctor, odio mauris molestie elit, ac congue nibh elit quis nibh. Vivamus cursus vulputate tincidunt. Quisque diam ex, ultricies eget nisi ac, faucibus tempor risus. Nam molestie elit porttitor nisl imperdiet, eget molestie ex rutrum. Proin molestie consequat augue, vel tempor sapien euismod et. Vestibulum fermentum sem sit amet hendrerit elementum. Phasellus efficitur porta placerat.</p> -->
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="image-container">
          <img src="assets/img/aurelienperrier.png" class="imgAboutUs">
          <h4>Aurélien Perrier</h4>
          <h5>Développeur back</h5>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="image-container">
          <img src="assets/img/valentinwurfl.png" class="imgAboutUs">
          <h4>Valentin Wurfl</h4>
          <h5>Développeur back</h5>
        </div>
      </div>
    </div>
  </div>
</div>
