<div class="no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="header text-orange">{{computer.model}}</h4>
        <i mz-icon-mdi [icon]="'star-outline'"></i><i mz-icon-mdi [icon]="'star-outline'"></i><i mz-icon-mdi [icon]="'star-outline'"></i><i mz-icon-mdi [icon]="'star-outline'"></i><i mz-icon-mdi [icon]="'star-outline'"></i> 0 avis
        <div class="card horizontal">
          <div class="row" style="width: 100%;">
            <div class="col l4 s12">
              <div class="card-image">
                <img src="{{computer.picture}}" onError="this.src='/assets/img/No_Img_Avail.jpg';" style="max-height: 300px;">
              </div>
            </div>
            <div class="col l8 s12">
              <h4 class="header">Description</h4>
              <p>
                Profitez de bonnes performances et gagnez en confort avec le PC portable {{computer.model}} ! Équipé d'un grand écran mat de {{computer.display?.size}} pouces, ce PC portable vous offre un excellent confort visuel, pour travailler confortablement ou profiter agréablement du divertissement numérique mobile.
              </p>
              <button mz-button class="amber darken-4" id="modeToggle" (click)="toggleMode($event)"><i mz-icon-mdi [icon]="'ninja'" [align]="'center'"></i> {{textMode}}</button>
            </div>
            <div class="col s12">
              <div class="col s12">
                <div class="card-stacked" id="expertMode" >
                  <div class="card-content">
                    <mz-collapsible
                    [mode]="'expandable'"
                    [onClose]="closeFunctionCallback"
                    [onOpen]="openFunctionCallback">
                    <mz-collapsible-item [active]="true">
                      <mz-collapsible-item-header>
                        <i mz-icon-mdi [icon]="'laptop'"></i>Composants
                      </mz-collapsible-item-header>
                      <mz-collapsible-item-body>
                        <div id="simpleMode" [hidden]="simpleMode" class="text-center">
                          <div class="col s12">
                            <h3>Gaming</h3>
                            <span>(score exprimé en points, basé sur le benchmark de <a href="https://www.notebookcheck.net/Mobile-Graphics-Cards-Benchmark-List.844.0.html" target="_blank">Notebookcheck</a>)</span>
                          </div>
                          <div class="col s12 l6" style="text-align: -webkit-center;">
                            <div class="progress-wrapper">
                              <div class="current" [ngStyle]="getOverlayStyle()">{{gaugeGraphicVal}} / 100</div>
                              <round-progress
                              [current]="gaugeGraphicVal"
                              [max]="100"
                              [color]="'#009D92'"
                              [background]="'#eaeaea'"
                              [radius]="125"
                              [stroke]="15"
                              [semicircle]="false"
                              [rounded]="true"
                              [clockwise]="true"
                              [responsive]="false"
                              [duration]="800"
                              [animation]="'easeInOutQuart'"
                              [animationDelay]="500"></round-progress>
                            </div>
                          </div>
                          <div class="col s12 l6" style="text-align: -webkit-center;">
                            <div class="progress-wrapper">
                              <div class="current" [ngStyle]="getOverlayStyle()">{{gaugeProcVal}} / 100</div>
                              <round-progress
                              [current]="gaugeProcVal"
                              [max]="100"
                              [color]="'#6200ee'"
                              [background]="'#eaeaea'"
                              [radius]="125"
                              [stroke]="15"
                              [semicircle]="false"
                              [rounded]="true"
                              [clockwise]="true"
                              [responsive]="false"
                              [duration]="800"
                              [animation]="'easeInOutQuart'"
                              [animationDelay]="500"></round-progress>
                            </div>
                          </div>
                        </div>
                        <table class="bordered striped" style="border: 1px solid #d0d0d0;" [hidden]="expertMode">
                          <tbody>
                            <tr>
                              <td>
                                <div><h5>Informations générales</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Modèle</div>
                              </td>
                              <td>
                                <div>{{computer.model || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Poids</div>
                              </td>
                              <td>
                                <div>{{computer.weight || "N/A"}}kg</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div><h5>Système d'exploitation</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Système d'exploitation</div>
                              </td>
                              <td>
                                <div>{{computer.os?.name || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div><h5>Processeur et chipset</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Processeur</div>
                              </td>
                              <td>
                                <div>{{computer.cpu?.name || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Chipset</div>
                              </td>
                              <td>
                                <div>{{computer.chipset?.name || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div><h5>Graphismes</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Chipset graphique</div>
                              </td>
                              <td>
                                <div>{{computer.gpu?.name || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div><h5>Mémoire</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Mémoire vive</div>
                              </td>
                              <td>
                                <div>{{computer.memory_size || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Mémoire maximum</div>
                              </td>
                              <td>
                                <div>{{computer.memory_max_size || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Type de mémoire</div>
                              </td>
                              <td>
                                <div>{{computer.memory_type || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div><h5>Affichage</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Type de dalle</div>
                              </td>
                              <td>
                                <div>{{computer.screen_type || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Taille d'écran</div>
                              </td>
                              <td>
                                <div>{{computer.screen_size || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Résolution</div>
                              </td>
                              <td>
                                <div>{{computer.screen_resolution || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Format</div>
                              </td>
                              <td>
                                <div>{{computer.screen_format || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Taux de rafraichissement</div>
                              </td>
                              <td>
                                <div>{{computer.screen_refresh_rate || "N/A"}}</div>
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div><h5>Multimédia</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Webcam</div>
                              </td>
                              <td>
                                <div *ngIf="computer.webcam == true; else no">
                                  Oui
                                </div>
                                <ng-template #no>Non</ng-template>
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div><h5>Equipement</h5></div>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <div>Type d'activité</div>
                              </td>
                              <td>
                                <div>{{computer.activity?.name || "N/A"}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Norme du clavier</div>
                              </td>
                              <td>
                                <div>{{computer.keyboard_type}}</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Pavé numérique</div>
                              </td>
                              <td>
                                <div *ngIf="computer.keyboard_numpad == true; else no">
                                  Oui
                                </div>
                                <ng-template #no>Non</ng-template>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div>Lumière sur le clavier</div>
                              </td>
                              <td>
                                <div *ngIf="computer.keyboard_light == true; else no">
                                  Oui
                                </div>
                                <ng-template #no>Non</ng-template>
                              </td>
                            </tr>
                          </tbody></table>
                        </mz-collapsible-item-body>
                      </mz-collapsible-item>

                      <mz-collapsible-item>
                        <mz-collapsible-item-header>
                          <i mz-icon-mdi [icon]="'basket'"></i>Prix
                        </mz-collapsible-item-header>
                        <mz-collapsible-item-body>
                          <div class="row">
                            <div class="col s12">
                              <mz-modal #chartModal [options]="modalOptions">
                                <mz-modal-header>
                                  <h4>Historique des prix</h4>
                                </mz-modal-header>
                                <mz-modal-content>
                                  <canvas id="histoChart"></canvas>
                                </mz-modal-content>
                                <mz-modal-footer>
                                  <button mz-button [flat]="true" mz-modal-close>Fermer</button>
                                </mz-modal-footer>
                              </mz-modal>

                              <table class="bordered striped" style="border: 1px solid #d0d0d0; margin-top: 0.75rem;">
                                <thead>
                                  <tr>
                                    <th>Marchand</th>
                                    <th>URL</th>
                                    <th>Dernier prix connu</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let p of pricing">
                                    <td>{{p.computers_trader?.name}}</td>
                                    <td><a href="{{p.url}}" target="_blank">{{computer.model}}</a></td>
                                    <td>{{p.last_price}}€</td>
                                  </tr>
                                </tbody>
                              </table>
                              <button class="waves-effect waves-light btn amber darken-4 histoPrix" mz-button (click)="chartModal.openModal()">Historique des prix</button>
                            </div>
                          </div>
                        </mz-collapsible-item-body>
                      </mz-collapsible-item>
                    </mz-collapsible>
                    <disqus [identifier]="pageId"></disqus>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
