<!-- ======== MAIN CONTENT ======== -->
<div role="main" class="main">
    <section class="page-title-container lk-bg-image-cover"
    style="background-image: url(../assets/images/portfolio-bg.jpg)">
    <div class="lk-bg-overlay-light"></div>
    <div class="container">
        <div class="page-title text-center">
            <div class="page-title-heading">
                <h1>Contact us</h1>
                <ul class="breadcrumbs no-list-style">
                    <li>
                        <a href="../index-2.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <span>Contact</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="page-content">

    <!-- Contact style 01 -->
    <div class="container">
        <div class="row mg-top-70">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="lk-title-heading">
                    <h2 class="ff-main text-upper lk-title">Contact Info</h2>
                </div>
                <div class="lk-icon-box mg-bottom-40 lk-no-lh lk-small-icon appear-animation"
                data-animation="fadeInUp"
                data-animation-delay="0">
                <div class="lk-icon-title-wrap">
                    <div class="lk-icon arrow">
                        <i class="icon icon-House"></i>
                    </div>
                    <div class="lk-icon-title">
                        <h4 class="text-upper ">Visit Us</h4>
                        <span class="lk-icon-subtitle">20, 2  Elizabeth ST, Melbourne, Victoria 3000</span>
                    </div>

                </div>
            </div>
            <div class="lk-icon-box mg-bottom-40 lk-no-lh lk-small-icon appear-animation"
            data-animation="fadeInUp"
            data-animation-delay="150">
            <div class="lk-icon-title-wrap">
                <div class="lk-icon arrow">
                    <i class="icon icon-Mail"></i>
                </div>
                <div class="lk-icon-title">
                    <h4 class="text-upper ">Mail Us</h4>
                    <span class="lk-icon-subtitle">support@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="lk-icon-box mg-bottom-40 lk-no-lh lk-small-icon appear-animation"
        data-animation="fadeInUp"
        data-animation-delay="300">
        <div class="lk-icon-title-wrap">
            <div class="lk-icon arrow">
                <i class="icon icon-Phone"></i>
            </div>
            <div class="lk-icon-title">
                <h4 class="text-upper">Call Us</h4>
                <span class="lk-icon-subtitle">+(100)1234 567 890</span>
            </div>
        </div>
    </div>
    <div class="lk-icon-box mg-bottom-40 lk-no-lh lk-small-icon appear-animation"
    data-animation="fadeInUp"
    data-animation-delay="450">
    <div class="lk-icon-title-wrap">
        <div class="lk-icon arrow">
            <i class="icon icon-Time"></i>
        </div>
        <div class="lk-icon-title">
            <h4 class="text-upper">Work Hour</h4>
            <span class="lk-icon-subtitle">Mon : Sat 08AM - 17PM</span>
        </div>
    </div>
</div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 appear-animation" data-animation="fadeInRight" data-animation-delay="100">
    <div class="lk-title-heading">
        <h2 class="ff-main text-upper lk-title">Leave Message</h2>
    </div>
    <div class="lk-contact-form">
        <div class="lk-contact-form-row">
            <div class="lk-contact-field half-size">
                <input type="text" placeholder="First name">
            </div>
            <div class="lk-contact-field half-size">
                <input type="text" placeholder="Last name">
            </div>
        </div>
        <div class="lk-contact-form-row">
            <div class="lk-contact-field half-size">
                <input type="text" placeholder="Email">
            </div>
            <div class="lk-contact-field half-size">
                <input type="text" placeholder="Subject">
            </div>
        </div>
        <div class="lk-contact-form-row">
            <div class="lk-contact-field">
                <textarea rows="5" placeholder="Your Message"></textarea>
            </div>

        </div>
        <div class="lk-contact-form-row">
            <a href="#"
            class="bt bt-border-1x bt-small bg-main border-main bg-transparent-hover border-main-hover text-white text-main-hover border-main-hover transition ff-main">
            Send Message
        </a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>