.no-pad-bot {
	height:calc(100vh - 64px);
	background-image: url("/assets/img/backgroundlaptop.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
nav ul a, nav .brand-logo {
	color: #444;
}
.input-field label {
	top: -10px;
	left: 5px;
}
#search {
	border-radius: 2px;
}
form {
	padding: 0 2rem 0 2rem;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
	margin-left: 0rem;
}
