<!-- Navbar -->
<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" [routerLink]="'/home'" class="brand-logo"><img src="assets/img/logo.png" height="64"/></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#" (click)="registerModal.open()">Inscription</a></li>
			<li><a href="#" (click)="loginModal.open()">Login</a></li>
		</ul>
		<a href="#" class="button-collapse" style="color: #444;" [id]="'btn-sidenav'"><i mz-icon-mdi [icon]="'menu'" [size]="'36px'"></i></a>
	</div>
</nav>

<!-- Mobile menu -->
<mz-sidenav
[id]="'sidenav'"
[collapseButtonId]="'btn-sidenav'">
<mz-sidenav-subheader>Menu</mz-sidenav-subheader>
<mz-sidenav-link>
	<a href="#" (click)="loginModal.open()">Login</a>
</mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider>
<mz-sidenav-link>
	<a href="#" (click)="registerModal.open()">Inscription</a>
</mz-sidenav-link>
</mz-sidenav>

<!-- Routes -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer grey darken-4">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<h5 class="white-text">Biographie</h5>
				<p class="grey-text text-lighten-4">Nous sommes une petite équipe de développeurs et nous avons décidé de vous simplifier la vie en vous proposant une plateforme vous permettant de trouver votre bonheur (informatique).</p>
			</div>
			<div class="col m6 s12">
				<h5 class="white-text">Contact</h5>
				<!-- Email -->
				<mz-input-container>
					<input style="color: white;" mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="email-input" label="Email" type="email">
				</mz-input-container>
				<!-- Objet -->
				<mz-input-container>
					<input style="color: white;" mz-input id="object-input" label="Objet" type="text">
				</mz-input-container>
				<!-- Message -->
				<mz-textarea-container>
					<textarea style="color: white;" mz-textarea id="message-input" label="Message"></textarea>
				</mz-textarea-container>
				<button mz-button class="amber darken-4">Envoyer</button>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="white-text" href="#">Need PC</a>
		</div>
	</div>
</footer>
