<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo"><img src="assets/img/logo.png" height="64"/></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#" (click)="registerModal.open()">Inscription</a></li>
			<li><a href="#" (click)="loginModal.open()">Login</a></li>
		</ul>
		<a href="#" class="button-collapse" style="color: #444;" [id]="'btn-sidenav'"><i mz-icon-mdi [icon]="'menu'" [size]="'36px'"></i></a>
	</div>
</nav>
<mz-sidenav
[id]="'sidenav'"
[collapseButtonId]="'btn-sidenav'">
<mz-sidenav-subheader>Menu</mz-sidenav-subheader>
<mz-sidenav-link>
	<a href="#" (click)="loginModal.open()">Login</a>
</mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider>
<mz-sidenav-link>
	<a href="#" (click)="registerModal.open()">Inscription</a>
</mz-sidenav-link>
</mz-sidenav>
<div class="no-pad-bot">
	<div class="container">
		<br>
		<!-- Modal inscription -->
		<mz-modal #registerModal>
			<mz-modal-header style="margin-left: 0.75rem; text-transform: uppercase; color: #ff6f00">Inscription</mz-modal-header>
			<mz-modal-content class="row center">
				<!-- Mot de passe -->
				<mz-input-container class="col s12 m6">
					<input mz-input id="nameRegister" label="Nom" type="text">
				</mz-input-container>
				<!-- Confirmation mot de passe -->
				<mz-input-container class="col s12 m6">
					<input mz-input id="surnameRegister" label="Prénom" type="text">
				</mz-input-container>
				<!-- Email -->
				<mz-input-container class="col s12 m6">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailRegister" label="Email" type="email">
				</mz-input-container>
				<!-- Confirmation email -->
				<mz-input-container class="col s12 m6">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="confirmEmailRegister" label="Confirmer email" type="email">
				</mz-input-container>
				<!-- Mot de passe -->
				<mz-input-container class="col s12 m6">
					<input mz-input id="passwordRegister" label="Mot de passe" type="password">
				</mz-input-container>
				<!-- Confirmation mot de passe -->
				<mz-input-container class="col s12 m6">
					<input mz-input id="passwordConfirmRegister" label="Confirmer mot de passe" type="password">
				</mz-input-container>
				<mz-input-container class="col l12 s12" style="margin-bottom: 1em;">
					<button mz-button class="amber darken-4" style="width: 100%;">Inscription</button>
				</mz-input-container>
				<p>
					OU
				</p>
				<mz-input-container class="col s12">
					<button mz-button class="light-blue darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'facebook'" [align]="'center'"></i>S'inscrire avec Facebook</button>
				</mz-input-container>
				<mz-input-container class="col s12">
					<button mz-button class="red darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'google-plus'" [align]="'center'"></i>S'inscrire avec Google</button>
				</mz-input-container>
			</mz-modal-content>
		</mz-modal>
		<!-- Modal login -->
		<mz-modal #loginModal>
			<mz-modal-header style="margin-left: 0.75rem; text-transform: uppercase; color: #ff6f00">Connexion</mz-modal-header>
			<mz-modal-content class="row center">
				<!-- Email -->
				<mz-input-container class="col s12">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailLogin" label="Email" type="email">
				</mz-input-container>
				<!-- Mot de passe -->
				<mz-input-container class="col s12">
					<input mz-input id="passwordLogin" label="Mot de passe" type="password">
				</mz-input-container>
				<mz-input-container class="col s12" style="margin-bottom: 1em;">
					<button mz-button class="amber darken-4" style="width: 100%;">Connexion</button>
				</mz-input-container>
				<p>
					OU
				</p>
				<mz-input-container class="col s12">
					<button mz-button class="light-blue darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'facebook'" [align]="'center'"></i>Se connecter avec Facebook</button>
				</mz-input-container>
				<mz-input-container class="col s12">
					<button mz-button class="red darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'google-plus'" [align]="'center'"></i>Se connecter avec Google</button>
				</mz-input-container>
			</mz-modal-content>
		</mz-modal>
		<h1 class="header center white-text" style="margin-top: 25vh;">{{title}}</h1>
		<div class="row center">
			<h5 class="header col s12 light white-text">La plateforme qui saura trouver ce que vous cherchez</h5>
		</div>
		<div class="row center">
			<form>
				<div class="input-field">
					<input id="search" type="search" required style="background-color: white;">
					<label class="label-icon" for="search"><i mz-icon-mdi [icon]="'magnify'"></i></label>
				</div>
			</form>
			<button mz-button class="grey lighten-5" style="color: #444; top: 15vh;" scrollTo scrollTargetSelector="#main-section">Accéder au formulaire</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="section" id="main-section">
		<div class="row">
			<div class="col s12">
				<h5 class="center">Trouver le bon PC portable</h5>
				<h5 class="white-text">Contact</h5>
				<div class="section col s12">
					<h6 class="col s12">Quel usage voulez-vous faire de l'ordinateur ?</h6>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Bureautique'" [filledIn]="'true'" id="desktop" type="checkbox">
					</mz-checkbox-container>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Multimédia'" [filledIn]="'true'" id="multimedia" type="checkbox">
					</mz-checkbox-container>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Jeu'" [filledIn]="'true'" id="game" type="checkbox">
					</mz-checkbox-container>
				</div>
				<div class="section col s12">
					<h6 class="col s12">Quel est votre budget ?</h6>
					<div class="col s12">
						<mz-input-container>
							<input mz-input id="budget-input" label="Budget" type="number">
						</mz-input-container>
					</div>
				</div>
				<div class="section col s12">
					<h6 class="col s12">À quelle fréquence utilisez-vous votre ordinateur ?</h6>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Peu souvent'" [filledIn]="'true'" id="passouvent" type="checkbox">
					</mz-checkbox-container>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Souvent'" [filledIn]="'true'" id="souvent" type="checkbox">
					</mz-checkbox-container>
					<mz-checkbox-container class="col s12 m4">
						<input mz-checkbox [label]="'Très souvent'" [filledIn]="'true'" id="tressouvent" type="checkbox">
					</mz-checkbox-container>
				</div>
				<mz-input-container class="col s12">
					<button mz-button class="amber darken-4 col s12">Rechercher</button>
				</mz-input-container>
			</div>
		</div>
	</div>
</div>
<footer class="page-footer grey darken-4">
	<div class="container">
		<div class="row">
			<div class="col m6 s12">
				<h5 class="white-text">Biographie</h5>
				<p class="grey-text text-lighten-4">Nous sommes une petite équipe de développeurs et nous avons décidé de vous simplifier la vie en vous proposant une plateforme vous permettant de trouver votre bonheur (informatique).</p>
			</div>
			<div class="col m6 s12">
				<h5 class="white-text">Contact</h5>
				<!-- Email -->
				<mz-input-container>
					<input style="color: white;" mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="email-input" label="Email" type="email">
				</mz-input-container>
				<!-- Message -->
				<mz-textarea-container>
					<textarea style="color: white;" mz-textarea id="message-input" label="Message"></textarea>
				</mz-textarea-container>
				<button mz-button class="amber darken-4">Envoyer</button>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="white-text" href="#">Need PC</a>
		</div>
	</div>
</footer>
