<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">{{title}}</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#" (click)="registerModal.open()">Inscription</a></li>
			<li><a href="#" (click)="loginModal.open()">Login</a></li>
		</ul>
		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">Inscription</a></li>
			<li><a href="#">Login</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse" style="color: #444;"><i mz-icon-mdi [icon]="'menu'" [size]="'36px'"></i></a>
	</div>
</nav>
<div class="no-pad-bot">
	<div class="container">
		<br>
		<!-- Modal inscription -->
		<mz-modal #registerModal>
			<mz-modal-header style="margin-left: 0.75rem;">Inscription</mz-modal-header>
			<mz-modal-content class="row center">
				<!-- Mot de passe -->
				<mz-input-container class="col s12 l6">
					<input mz-input id="nameRegister" label="Nom" type="text">
				</mz-input-container>
				<!-- Confirmation mot de passe -->
				<mz-input-container class="col s12 l6">
					<input mz-input id="surnameRegister" label="Prénom" type="text">
				</mz-input-container>
				<!-- Email -->
				<mz-input-container class="col s12 l6">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailRegister" label="Email" type="email">
				</mz-input-container>
				<!-- Confirmation email -->
				<mz-input-container class="col s12 l6">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="confirmEmailRegister" label="Confirmer email" type="email">
				</mz-input-container>
				<!-- Mot de passe -->
				<mz-input-container class="col s12 l6">
					<input mz-input id="passwordRegister" label="Mot de passe" type="password">
				</mz-input-container>
				<!-- Confirmation mot de passe -->
				<mz-input-container class="col s12 l6">
					<input mz-input id="passwordConfirmRegister" label="Confirmer mot de passe" type="password">
				</mz-input-container>
				<div class="col s12" style="text-align: left;">
					<button mz-button class="grey darken-1" mz-modal-close>Annuler</button>
					<button mz-button class="light-blue darken-1">Inscription</button>
				</div>
			</mz-modal-content>
		</mz-modal>
		<!-- Modal login -->
		<mz-modal #loginModal>
			<mz-modal-header style="margin-left: 0.75rem;">Connexion</mz-modal-header>
			<mz-modal-content class="row center">
				<!-- Email -->
				<mz-input-container class="col s12">
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailLogin" label="Email" type="email">
				</mz-input-container>
				<!-- Mot de passe -->
				<mz-input-container class="col s12">
					<input mz-input id="passwordLogin" label="Mot de passe" type="password">
				</mz-input-container>
				<div class="col s12" style="text-align: left;">
					<button mz-button class="grey darken-1" mz-modal-close>Annuler</button>
					<button mz-button class="light-blue darken-1">Connexion</button>
				</div>
			</mz-modal-content>
		</mz-modal>
		<h1 class="header center white-text" style="margin-top: calc(100vh - 700px);">{{title}}</h1>
		<div class="row center">
			<h5 class="header col s12 light white-text">La plateforme qui saura trouver ce que vous cherchez</h5>
		</div>
		<div class="row center">
			<form>
				<div class="input-field">
					<input id="search" type="search" required style="background-color: white;">
					<label class="label-icon" for="search"><i mz-icon-mdi [icon]="'magnify'"></i></label>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- <div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center"><i mz-icon-mdi [icon]="'puzzle'" [size]="'36px'"></i></h2>
					<h5 class="center">Speeds up development</h5>
					<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center"><i mz-icon-mdi [icon]="'puzzle'" [size]="'36px'"></i></h2>
					<h5 class="center">User Experience Focused</h5>
					<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center"><i mz-icon-mdi [icon]="'puzzle'" [size]="'36px'"></i></h2>
					<h5 class="center">Easy to work with</h5>
					<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<footer class="page-footer grey darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Biographie</h5>
				<p class="grey-text text-lighten-4">Nous sommes une petite équipe de développeurs et nous avons décidé de vous simplifier la vie en vous proposant une plateforme vous permettant de trouver votre bonheur (informatique).</p>
			</div>
			<div class="col l6 s12">
				<h5 class="white-text">Contact</h5>
				<!-- Email -->
				<mz-input-container>
					<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="email-input" label="Email" type="email">
				</mz-input-container>
				<!-- Message -->
				<mz-textarea-container>
					<textarea mz-textarea id="message-input" label="Message"></textarea>
				</mz-textarea-container>
				<button mz-button class="light-blue darken-1">Envoyer</button>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="white-text" href="#">Need PC</a>
		</div>
	</div>
</footer>