/* ============= ACCORDION ============*/

.lk-accordion-item {
    margin-bottom: 20px;
}

.lk-accordion-item:last-child {
    margin-bottom: 0;
}

.lk-accordion-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 40px;
}

.lk-accordion-title {
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
    line-height: 1;
    border: solid 1px #ddd;
    cursor: pointer;
}

.lk-accordion-title * {
    pointer-events: none;
}

.lk-accordion-title h6 {
    font-size: 13px;
    margin: 0;
    line-height: 1.6;
}

.lk-accordion-container.icon-arrow .lk-accordion-title h6,
.lk-accordion-container.icon-normal .lk-accordion-title h6 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.lk-accordion-content {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #ddd;
    padding: 20px;
    display: none;
}

.lk-accordion-content .lk-accordion-content-inner {
    font-size: 14px;
}

.lk-accordion-container.icon-arrow .lk-accordion-title h6 {
    left: 70px;
}

.lk-accordion-container.icon-arrow .lk-accordion-icon {
    width: 40px;
}

.lk-accordion-container.icon-arrow .lk-accordion-icon {
    border: solid 1px #ddd;
    background-color: #ddd;
}

.lk-accordion-container.icon-arrow .lk-accordion-icon:after {
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent #ddd;
    border-width: 24px 0px 24px 10px;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 39px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.lk-accordion-icon i {
    font-size: 18px;
    color: #444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.lk-accordion-container.icon-arrow .lk-accordion-item.active .lk-accordion-icon,
.lk-accordion-container.icon-arrow .lk-accordion-item:hover .lk-accordion-icon {
    background-color: #e74c3c;
}

.lk-accordion-container.icon-arrow .lk-accordion-item.active .lk-accordion-icon,
.lk-accordion-container.icon-arrow .lk-accordion-item:hover .lk-accordion-icon {
    border-color: #e74c3c;
}

.lk-accordion-container.icon-arrow .lk-accordion-item.active .lk-accordion-icon:after,
.lk-accordion-container.icon-arrow .lk-accordion-item:hover .lk-accordion-icon:after {
    border-color: transparent transparent transparent #e74c3c;
}

.lk-accordion-container.icon-arrow .lk-accordion-item.active .lk-accordion-title i,
.lk-accordion-container.icon-arrow .lk-accordion-item:hover .lk-accordion-title i {
    color: #fff;
}

.lk-accordion-container.icon-arrow .lk-accordion-item.active .lk-accordion-title h6,
.lk-accordion-container.icon-arrow .lk-accordion-item:hover h6 {
    color: #444;
}

.lk-accordion-container .lk-accordion-item.active .lk-accordion-title h6,
.lk-accordion-container .lk-accordion-item:hover .lk-accordion-title h6,
.lk-accordion-container .lk-accordion-item.active .lk-accordion-title i,
.lk-accordion-container .lk-accordion-item:hover .lk-accordion-title i {
    color: #e74c3c;
}

.lk-accordion-container.icon-toggle.border-simple .lk-accordion-item {
    margin-bottom: 0px;
}

.lk-accordion-container.icon-toggle .lk-accordion-title {
    padding: 15px 20px;
}

.lk-accordion-container.icon-toggle .lk-accordion-title h6 {
    position: relative;
}

.lk-accordion-container.icon-toggle .lk-accordion-title h6:after {
    position: absolute;
    right: 0px;
    top: -6px;
    font-size: 20px;
    content: "+";
    -webkit-transition: all 0.53s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.lk-accordion-container.icon-toggle .lk-accordion-item.active .lk-accordion-title h6:after {
    content: "-";
}

.lk-accordion-container.border-simple .lk-accordion-title {
    border-top: none;
    border-left: none;
    border-right: none;
}

.lk-accordion-container.border-simple .lk-accordion-content {
    border: none;
}

.lk-accordion-container.border-simple .lk-accordion-title,
.lk-accordion-container.border-simple .lk-accordion-content {
    padding-left: 0px;
    padding-right: 0px;
}