/* ============= BLOG ARCHIVE ============*/

.blog-wrap article{
    margin-bottom: 50px;
}
.blog-wrap article .entry-post-title{
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}

.blog-wrap article .entry-post-meta,
.blog-wrap article .entry-read-more{
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat';
}
.blog-wrap article .entry-read-more > a{
    color: #787878;
}
.blog-wrap article .entry-read-more > a:hover{
    color: #e74c3c;
}
.blog-wrap article .entry-summary{
    margin-top: 10px;
}
.blog-wrap article .entry-post-meta{
    margin-top: 5px;
}
.blog-wrap article .entry-post-meta span{
    padding-right: 15px;
    word-break: break-word;
}
.blog-wrap article .entry-post-meta span i{
    color: #444;
    margin-right: 5px;
}
.blog-wrap article .entry-thumbnail-container{
    position: relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
}
.blog-wrap article .entry-thumbnail-container .lk-bg-overlay-light,
.blog-wrap article .entry-thumbnail-container .view-gallery{
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-wrap article .entry-thumbnail-container:hover .lk-bg-overlay-light,
.blog-wrap article .entry-thumbnail-container:hover .view-gallery{
    opacity: 1;
}

.blog-wrap article .entry-thumbnail-container .view-gallery{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 24px;
    display: inline-block;
    padding: 10px;
    line-height: 1;
}
.blog-wrap article.format-video .entry-thumbnail-container .view-gallery{
    font-size: 40px;
}


/** Blog Audio **/
.entry-audio-container{
    background: linear-gradient(135deg, #bb71f3 0%, #3d4d91 100%);
    background: -webkit-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    background: -moz-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    height: 150px;
    position: relative;
}
.howler-audio-container .howler-audio-title {
    font-family: Montserrat;
}

/** Blog quote, aside, link **/
article.format-quote .entry-thumbnail-container,
article.format-aside .entry-thumbnail-container,
article.format-status .entry-thumbnail-container,
article.format-link .entry-thumbnail-container{
    padding: 50px 30px 30px 30px;
    background-color: rgba(238, 238, 238, 0.59);
    font-style: italic;
    font-weight: 500;
    position: relative;
}

article.format-quote .entry-thumbnail-container:before,
article.format-aside .entry-thumbnail-container:before,
article.format-status .entry-thumbnail-container:before{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 70px;
    line-height: 1;
    font-weight: 600;
    font-family: Montessart;
    color: #e74c3c;
}

article.format-quote .entry-thumbnail-container:before,
article.format-aside .entry-thumbnail-container:before{
    content: '”';
}
article.format-status .entry-thumbnail-container:before{
    content: "\f27b";
    font-family: FontAwesome;
    font-size: 26px;
    left: 30px;
    top: 15px;
    font-weight: 400;
}

article.format-link .entry-thumbnail-container:before{
    content: "\e67b";
    position: absolute;
    top: 15px;
    left: 28px;
    font-size: 26px;
    line-height: 1;
    font-family: 'Stroke-Gap-Icons';
    color: #e74c3c;
}

article .entry-post-meta a,
article.format-aside .entry-thumbnail-container a,
article.format-status .entry-thumbnail-container a{
    color: #787878;
}
article .entry-post-meta a:hover,
article.format-aside .entry-thumbnail-container a:hover,
article.format-status .entry-thumbnail-container a:hover{
    color: #e74c3c;
}

article.format-link .entry-thumbnail-container .entry-post-meta,
article.format-aside .entry-thumbnail-container .entry-post-meta,
article.format-status .entry-thumbnail-container .entry-post-meta{
    text-align: right;
}


blockquote{
    border-left-color: #e74c3c;
    font-size: 14px;
    font-style: italic;
}
/* ============= BLOG DETAIL ============*/
.post-single .post-content{
    margin-top: 15px;
}
.post-single .about-author-container{
    margin-top: 50px;
    display: inline-block;
    width:100%;
}



.post-single .author-avatar{
    width: 120px;
    height: 120px;
    display: inline-block;
    float: left;
}
.post-single .author-bio{
    padding-left: 150px;
}

.post-single .related-post-container{
    margin-top: 50px;
}
.post-single .related-post{
    position: relative;
}
.post-single .related-post .post-item{
    position: relative;
    display: inline-block;
}
.post-single .related-post .post-item .lk-overlay-outer{
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.post-single .related-post .post-item .lk-overlay-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #fff;
    transform: translateX(-50%)translateY(-30%);
    -webkit-transform: translateX(-50%)translateY(-30%);
    -moz-transform: translateX(-50%)translateY(-30%);
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.post-single .related-post .post-item .lk-overlay-inner h3{
    color: #fff;
}
.post-single .related-post .post-item:hover .lk-overlay-outer{
    opacity: 1;
}

.post-single .related-post .post-item:hover .lk-overlay-inner{
    transform: translateX(-50%)translateY(-50%);
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
}

/** Comment box **/

.post-single .comments-container{
    margin-top: 50px;
}
.post-single .comments-container ul{
    list-style: none;
    padding-left: 0;
}
.post-single .comments-container .comment-content{
    display: inline-block;
    width: 100%;
}
.post-single .comment-content .avatar{
    width: 100px;
    height: 100px;
    float: left;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
}

.post-single .comment-content .comment-box{
   padding-left: 120px;
}
.post-single .comments-container ul li{
    margin-bottom: 50px;
}
.post-single .comments-container ul li ul{
    padding-left: 120px;
    list-style: none;
    margin-top: 50px;
}
.post-single .comment-meta .comment-reply{
    float: right;
}

.post-single .comment-meta .comment-author{
    font-weight: 600;
    color: #444;
}

.post-single .comment-input{
    margin-right: -10px;
    margin-left: -10px;
}
.post-single .comment-input:after{
    clear: both;
    content: "";
    display: block;
}
.post-single .comment-input .comment-field {
    float: left;
    width: 33.3333%;
    padding: 0 10px;
}
.post-single .comment-form input[type="text"]{
    width: 100%;
    line-height: 1;
    padding: 15px;
}
.post-single .comment-form input[type="text"],
.post-single .comment-textarea textarea{
    border: solid 1px #ddd;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.post-single .comment-form textarea:active,
.post-single .comment-form textarea:focus,
.post-single .comment-form input[type="text"]:focus,
.post-single .comment-form input[type="text"]:active{
    border-color: #e74c3c;
}
.post-single .comment-textarea{
    line-height: 1;
    margin-top: 20px;

}
.post-single .comment-textarea textarea{
    width: 100%;
    padding: 15px;
    height: 200px;
    line-height: 2.14;
}
.post-single .comment-form .submit-container{
    margin-top: 20px;
}

.post-single .lk-video-item video{
    width: 100%;
}
.mejs__overlay-button,
.mejs__overlay-button:active,
.mejs__overlay-button:focus{
    outline: none;
}
.owl-item .mejs__fullscreen-button{
    display: none;
}

/* ============= BLOG ELEMENTS ============*/
.lk-blog-main-layout{
    position: relative;
    overflow: hidden;
}
.lk-blog-item a.bg-view-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.lk-blog-item .lk-blog-thumb{
    position: relative;
}

/** Blog main-second layout **/
.lk-blog-main-layout .lk-blog-info-container{
    position: absolute;
    bottom: 0%;
    text-align: center;
    left:0;
    width: 100%;
    padding: 0px 30px;
    color: #fff;

}

.lk-blog-main-layout .lk-blog-meta .lk-blog-date{
    padding: 15px;
}
.lk-blog-main-layout .lk-blog-title-category-container{
    position: relative;
}
.lk-blog-main-layout .lk-blog-info-container .lk-blog-meta{
    max-height: 0px;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    line-height: 1.6;
    position: relative;

}
.lk-blog-main-layout .lk-blog-item:hover .lk-blog-info-container .lk-blog-meta{
    max-height: 150px;
}

.lk-blog-item:hover a.bg-view-detail{
    opacity: 1;
}

.lk-blog-second-layout .lk-blog-item{
    display: inline-block;
    width: 100%;
}
.lk-blog-second-layout .lk-blog-item:not(:last-child){
    margin-bottom: 30px;
}


.lk-blog-second-layout .lk-blog-item .lk-blog-thumb{
    width: 185px;
    height: 135px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.lk-blog-second-layout .lk-blog-item .lk-blog-info-container{
  padding-left: 210px;
}
.lk-blog-second-layout .lk-blog-item .lk-blog-meta{
    line-height: 1.6;
}

/** Blog grid layout **/
.lk-blog-grid .lk-blog-item,
.lk-blog-masonry .lk-blog-item{
    margin-bottom: 30px;
}
.lk-blog-grid .lk-blog-title-category-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:5px 15px;
}
.lk-blog-grid .lk-blog-excerpt{
    line-height: 1.86;
    margin-top: 15px;
}
.lk-blog-grid .lk-blog-item-footer{
    margin-top: 15px;
    min-height: 50px;
    line-height: 3.57;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
}

.lk-blog-grid .lk-blog-item-footer a.read-more,
.lk-blog-grid .lk-blog-item-footer a.show-social-share {
    font-family: Montserrat;
    text-transform: uppercase;
}
.lk-blog-grid .lk-blog-item-footer a.read-more:hover,
.lk-blog-grid .lk-blog-item-footer a.show-social-share:hover{
    color: #e74c3c;
}
.lk-blog-grid .lk-blog-item-footer .lk-blog-share{
    display: inline-block;
    float: right;
}

.lk-blog-masonry .lk-blog-category h6{
    font-style: italic;
}
.lk-blog-masonry .lk-blog-category a{
    color: #787878;
}
.lk-blog-masonry .lk-blog-category a:hover{
    color: #e74c3c;
}

@media (max-width: 400px){
    .lk-blog-main-layout .lk-blog-info-container{
        padding: 0 !important;
    }
    .lk-blog-main-layout .lk-blog-title-category-container .lk-blog-title h4{
        margin-bottom: 15px;
    }
    .lk-blog-main-layout .lk-blog-meta .lk-blog-date{
        padding: 10px 15px;
    }
    .lk-blog-second-layout .lk-blog-item .lk-blog-thumb{
        width: 100%;
        height: auto;
        float: none;
    }
    .lk-blog-second-layout .lk-blog-item .lk-blog-info-container{
        padding-left:0;
        margin-top: 10px;
    }
}