/* ============= OUR TEAM ============*/
.lk-our-team {
    padding-bottom: 30px;
}

.lk-our-team-inner {
    position: relative;
}

.lk-member-info-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgba(231, 76, 60, 0.9);
    background-clip: content-box;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.lk-member-info-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
}

.lk-member-info-inner .lk-member-name,
.lk-member-info-inner .lk-member-department {
    color: #fff;
}

.lk-our-team-inner:hover .lk-member-info-outer {
    opacity: 1;
}

.lk-our-team-inner:hover .lk-member-info-inner {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.lk-member-social {
    font-size: 0;
}

.lk-member-social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 4px;
    line-height: 2.5;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.lk-member-social a:first-child {
    margin-left: 0;
}

.lk-member-social a:last-child {
    margin-right: 0;
}

.lk-our-team-style-01 .lk-member-social {
    margin-top: 10px;
}

.lk-our-team-style-02 .lk-member-info-container .lk-member-name,
.lk-our-team-style-03 .lk-member-info-container .lk-member-name {
    margin-bottom: 0px;
    margin-top: 20px;
}

.lk-our-team-style-02 .lk-member-info-container .lk-member-department,
.lk-our-team-style-03 .lk-member-info-container .lk-member-department {
    font-weight: 500;
}

.lk-our-team-style-02 .lk-member-info-container .lk-our-team-desc {
    padding-top: 10px;
    margin-top: 15px;
    border-top: solid 1px #ddd;
}

.lk-our-team-style-02 .lk-our-team-thumb,
.lk-our-team-style-03 .lk-our-team-thumb {
    position: relative;
    overflow: hidden;
}

.lk-our-team-style-02 .lk-member-department,
.lk-our-team-style-03 .lk-member-department {
    line-height: 1.5;
    margin-top: 10px;
}

.lk-our-team-style-02 .lk-member-social {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: -50px;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.lk-our-team-style-02 .lk-our-team-inner:hover .lk-member-social {
    opacity: 1;
    bottom: 20px;
}

.lk-our-team-style-02 .lk-member-social a {
    background-color: rgba(231, 76, 60, 0.9);
}

.lk-our-team-style-02 .lk-member-social a:hover {
    background-color: #e74c3c;
}

.lk-our-team-style-03 .lk-our-team-inner:hover .lk-member-social {
    opacity: 1;
    bottom: 0px;
}

.lk-our-team-style-03 .lk-member-social {
    padding: 15px;
    position: absolute;
    bottom: -100px;
    text-align: center;
    left: 0px;
    width: 100%;
    background-color: rgba(231, 76, 60, 0.9);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.lk-our-team-style-04 .lk-our-team-inner {
    display: inline-block;
    width: 100%;
}

.lk-our-team-style-04 .lk-our-team-thumb {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
}

.lk-our-team-style-04 .lk-member-info-container {
    padding-left: 120px;
}

.lk-our-team-style-04 .lk-member-department,
.lk-our-team-style-04 .lk-our-team-desc {
    line-height: 1.5;
}