@media (max-width: 400px){
    .page-title-container .page-title-heading h1{
        word-wrap: break-word;
    }
    .lk-social-container a{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .lk-testimonial-style-01,
    .lk-testimonial-style-02{
        padding: 0;
    }
    .lk-testimonial-style-02.owl-carousel:hover .owl-nav .owl-next{
        right: -10px;
    }
    .lk-testimonial-style-02.owl-carousel:hover .owl-nav .owl-prev{
        left: -10px;
    }
    .navigation a.prev,
    .navigation a.next{
     font-size: 0;
    }
    .navigation a.prev i,
    .navigation a.next i{
        font-size: 20px;
        display: inline-block;
        font-weight: 600;
        line-height: 2;
    }

    header.menu-float-open .menu-mobile{
        width: 250px;
    }
    header.header-main.menu-float-open .menu-mobile-icon.menu-float-container{
        right: 270px;
    }
	
	.lk-tab-container .lk-tab-flex{
		display: block;
	}
	.lk-icon-list.lk-col-2 > li{
		width: 100%;
	}
	
	.footer-bottom ,
	.footer-bottom  .text-right{
		text-align: center;
	}

}
@media (max-width: 768px){
    .lk-category-in-heading{
        margin-top: 0px;
    }
    .lk-bg-image-contain{
        background-image: none !important;
    }
    .lk-magic-line{
        text-align: center;
    }
    ul.lk-magic-line li.magic-line-bottom{
        display: none;
    }

}

@media (max-width: 767px){
    body{
        padding: 0;
    }
    .slider-text .title,
    .slider-text .sub-title{
        line-height: 1.2;
    }
    header.header-main .menu-float-container {
        right: 15px;
    }
}

/* ============= HEADER ============*/
@media (max-width: 1024px){
    header .menu ul > li > a{
        margin: 0 30px 0px 0px;
    }
}
@media (min-width: 992px){
    header.header-main .menu-mobile-icon{
        display: none;
    }
}
@media (max-width: 991px){
    header.header-main .menu{
        display: none;
    }
    header.header-main .menu-mobile-icon{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    header.header-float{
        min-height: 90px;
    }
    header.header-main .logo{
        padding: 30px 0px;
    }
    header.header-main .menu-mobile-icon a{
        color: #fff;
        font-size: 21px;
    }
    header .menu-mobile{
        z-index: 99;
    }
    header.menu-float-open .menu-mobile{
        background-color: rgba(0,0,0,0.9);
        opacity: 1;
        visibility: visible;
    }
    header.header-main.menu-float-open .menu-float-container{
        right: 310px;
    }
    header .menu-mobile ul.lk-root-menu{
        padding: 30px;
        margin: 0;
        list-style: none;
    }

}

/* ============= COLUMNS ============*/
@media (min-width: 992px){
    .col-md-4:nth-child(3n+1){
        clear: both;
    }
    .col-md-4:first-child{
        clear: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6:nth-child(2n+1){
        clear: both;
    }
    .col-sm-6:first-child{
        clear: none;
    }
}

/* ============= MARGIN ============*/
@media (min-width: 768px) and (max-width: 991px) {
    .sm-mg-top-30{
        margin-top: 30px;
    }
    .sm-mg-top-40{
        margin-top: 40px;
    }
    .sm-mg-top-50{
        margin-top: 50px;
    }
    .sm-mg-top-60{
        margin-top: 60px;
    }
    .sm-mg-top-70{
        margin-top: 70px;
    }
}
@media (max-width: 767px){
    .xs-mg-top-20{
        margin-top: 20px;
    }
    .xs-mg-top-30{
        margin-top: 30px;
    }
    .xs-mg-top-40{
        margin-top: 40px;
    }
    .xs-mg-top-50{
        margin-top: 50px;
    }
    .xs-mg-top-60{
        margin-top: 60px;
    }
    .xs-mg-top-70{
        margin-top: 70px;
    }
}

@media (max-width: 500px){
    .col-xs-6,
    .col-sm-6{
        width: 100%;
    }
    .lk-countdown-item .col-xs-6,
    .lk-countdown-item .col-sm-6{
        width: 50%;
    }
}