/* ============= TESTIMONIAL ============*/

.lk-testimonial-bg {
    padding: 100px 0px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lk-testimonial-container {
    position: relative;
}

.lk-testimonial-container .owl-nav .owl-prev,
.lk-testimonial-container .owl-nav .owl-next,
.lk-testimonial-container .owl-nav .owl-prev:hover,
.lk-testimonial-container .owl-nav .owl-next:hover {
    background-color: transparent;
    color: #fff;
    font-size: 40px;
}

.lk-testimonial-icon {
    display: inline-block;
    line-height: 1;
    margin-bottom: 65px;
    font-size: 36px;
}

.lk-testimonial-customer h4 {
    display: inline-block;
    margin-bottom: 0;
}

.lk-testimonial-customer span.lk-testimonial-department {
    font-weight: 500;
}

.lk-testimonial-style-01,
.lk-testimonial-style-02 {
    padding: 0 100px;
}

.lk-testimonial-style-01 .lk-testimonial-customer h4,
.lk-testimonial-style-02 .lk-testimonial-customer h4,
.lk-testimonial-style-01 .lk-testimonial-message,
.lk-testimonial-style-02 .lk-testimonial-message,
.lk-testimonial-style-01 .lk-testimonial-department,
.lk-testimonial-style-02 .lk-testimonial-department,
.lk-testimonial-style-01 .lk-testimonial-icon,
.lk-testimonial-style-02 .lk-testimonial-icon {
    color: #fff;
}

.lk-testimonial-style-01 .lk-testimonial-customer,
.lk-testimonial-style-02 .lk-testimonial-customer {
    margin-top: 50px;
    line-height: 1;
}

.lk-testimonial-style-02 .lk-testimonial-customer-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lk-testimonial-style-02 .lk-testimonial-customer .lk-testimonial-customer-name,
.lk-testimonial-style-02 .lk-testimonial-customer .lk-testimonial-department {
    display: block;
}

.lk-testimonial-style-02 .lk-testimonial-customer .lk-testimonial-customer-name {
    margin-top: 15px;
}

.lk-testimonial-style-02 .lk-testimonial-customer .lk-testimonial-department {
    margin-top: 5px;
    font-style: italic;
}

.lk-testimonial-style-02 .lk-testimonial-message {
    margin-top: 15px;
}

.lk-testimonial-style-03 .lk-testimonial-customer-avatar,
.lk-testimonial-style-04 .lk-testimonial-customer-avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lk-testimonial-style-03 .lk-testimonial-message,
.lk-testimonial-style-03 .lk-testimonial-customer-name {
    color: #444;
}

.lk-testimonial-style-03 .lk-testimonial-department {
    color: #787878;
}

.lk-testimonial-style-03 .lk-testimonial-item {
    position: relative;
    margin-bottom: 40px;
}

.lk-testimonial-style-03 .lk-testimonial-inner {
    padding: 30px;
    background-color: #fff;
}

.lk-testimonial-style-03 .lk-testimonial-message {
    font-style: italic;
    position: relative;
    padding-bottom: 15px;
}

.lk-testimonial-style-03 .lk-testimonial-message:before {
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    border-bottom: solid 1px #f7f7f7;
    position: absolute;
}

.lk-testimonial-style-03 .lk-testimonial-message:after {
    content: "";
    border-bottom: solid 2px #e74c3c;
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.lk-testimonial-style-03 .lk-testimonial-customer {
    margin-top: 20px;
    margin-bottom: 25px;
}

.lk-testimonial-style-03 .lk-testimonial-department {
    display: block;
    line-height: 2.14;
}

.lk-testimonial-style-03 .lk-testimonial-customer-avatar {
    position: absolute;
    bottom: -40px;
    left: 25px;
}

.lk-testimonial-style-04 .lk-testimonial-customer-avatar {
    float: left;
}

.lk-testimonial-style-04 .lk-testimonial-inner {
    padding-left: 110px;
}

.lk-testimonial-style-04 .lk-testimonial-item {
    margin-bottom: 30px;
    position: relative;
}

.lk-testimonial-style-04 > div:nth-child(2n+1) .lk-testimonial-item {
    padding-right: 15px;
}

.lk-testimonial-style-04 > div:nth-child(2n) .lk-testimonial-item {
    padding-left: 15px;
}

.lk-testimonial-style-04 > div:nth-child(2n+1) .lk-testimonial-customer-avatar {
    float: right;
}

.lk-testimonial-style-04 > div:nth-child(2n+1) .lk-testimonial-inner {
    padding-left: 0;
    padding-right: 110px;
    text-align: right;
}

.lk-testimonial-style-04 > div:nth-child(4n+1),
.lk-testimonial-style-04 > div:nth-child(4n) {
    position: relative;
}

@media (max-width: 768px) {
    .lk-testimonial-style-01,
    .lk-testimonial-style-02 {
        padding: 0 30px;
    }
}
@media (max-width: 400px) {
    .lk-testimonial-style-04 .lk-testimonial-item{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .lk-testimonial-style-04 .lk-testimonial-customer-avatar{
        display: block;
        float: none !important;
        text-align: center !important;
        width: 100%;
    }
    .lk-testimonial-style-04 .lk-testimonial-customer-avatar img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .lk-testimonial-style-04 .lk-testimonial-inner{
        margin-top: 15px;
        padding-right: 0px !important;
        padding-left: 0px !important;
        text-align: center !important;
    }
}