.widget{
    position: relative;
    margin-bottom: 40px;
}
.widget-title,
.widget-title span{
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.widget-title:before{
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: solid 1px #eee;
    top: 100%;
    margin-top: 20px;
}
.widget-title span:after{
    content: "";
    width: 100%;
    border-bottom: solid 2px #e74c3c;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 18px;
}
.widget ul{
    list-style: none;
    padding: 0;
}
.widget ul li{
    margin-bottom: 10px;
}
.widget ul li{
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
}

.widget_search input[type='search']{
    width: 100%;
    border: solid 1px #ddd;
    line-height: 1;
    padding: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.widget_search input[type='search']:focus,
.widget_search input[type='search']:active{
    border-color: #444;
}
.search-submit{
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    font-size: 18px;
    line-height: 1;
    background: transparent;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.search-submit:hover,
.search-submit:active{
    outline: none;
    color: #e74c3c;
}

.widget_categories ul li a{
    display: inline-block;
    width: 100%;
}
.widget_categories ul li span.lk-cat-count{
    float: right;
}

/** Widget Blog **/
.widget-posts ul > li{
    margin-bottom: 20px;
}
.widget-posts .entry-thumb-wrap{
    width: 70px;
    display: inline-block;
    position: relative;
    line-height: 1;
    float: left;
}
.widget-posts .entry-content-wrap{
    padding-left: 90px;
}

.widget-posts .entry-thumbnail-overlay{
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.widget-posts .entry-thumbnail:hover .entry-thumbnail-overlay:after{
    opacity: 0;
    content: "";
    background-color: rgba(255,144,0,0.7);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.widget-posts .entry-thumbnail:hover .entry-thumbnail-overlay:after{
    opacity: 1;
}
.widget-posts .entry-thumbnail:hover .view-gallery{
    transform: translateX(-50%)translateY(-50%);
    color: #fff;
    opacity: 1;
    padding: 5px;
}
.widget-posts .entry-content-wrap .entry-post-title{
    font-size: 13px;
    margin-bottom: 0;
    display: inline-block;
    line-height: 1.4;
}
.widget-posts .entry-content-wrap .entry-meta-date,
.widget-posts .entry-content-wrap .entry-meta-comment{
    font-size: 13px;
    text-transform: none;
}

.widget-posts .view-gallery{
    position: absolute;
    color: #fff;
    transform: translateX(-50%)translateY(-10%);
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    font-size: 16px;
}

/** Widget Tags **/
.widget_tag_cloud .tagcloud a{
    padding: 10px 15px;
    border: solid 1px #ddd;
    font-size: 13px !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.widget_tag_cloud .tagcloud a:hover{
    border: solid 1px #e74c3c;
    background-color: #e74c3c;
    color: #fff;
}

