<header class="header-float header-main" data-heigh-fixed="300">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo dp-inline"><img alt="Loki site template" width="105" height="92" src="assets/images/logo_gpe.png" /></div>
				<div class="menu ff-main text-upper">
					<ul class="lk-root-menu">
						<li class="menu-item">
							<a routerLink="/" class="transition" id="homelink">Accueil</a>
						</li>
						<li class="menu-item">
							<a href="pages/our-team.html" class="transition">l'équipe</a>
						</li>
						<li class="menu-item">
							<a routerLink="/contact" class="transition">Contact</a>
						</li>
					</ul>
				</div>

				<!-- MOBILE MENU -->
				<div class="menu-mobile-icon menu-float-container ff-main text-upper">
					<a href="javascript:;" class="icon-menu-float">
						<span class="lk-icon-lines"></span>
					</a>
				</div>
				<div class="menu-mobile lk-menu-float">
					<ul class="lk-root-menu menu-float">
						<li class="menu-item">
							<a routerLink="/" class="transition-05">Accueil</a>
						</li>
						<li class="menu-item">
							<a href="pages/our-team.html" class="transition-05">équipe</a>
						</li>
						<li class="menu-item">
							<a routerLink="/contact" class="transition-05">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<router-outlet></router-outlet>
<!-- ======== FOOTER ======== -->
<footer id="footer">
	<div class="footer-main footer-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="lk-widget-logo-container">
						<img alt="Loki site template" src="assets/images/logo.png">
						<div class="lk-logo-description">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="lk-widget-menu-container">
						<div class="lk-title-heading  gray-style">
							<h4 class="lk-title text-white text-upper">Sitemap</h4>
						</div>
						<ul class="lk-menu no-list-style">
							<li class="half-size">
								<a href="#">Services</a>
							</li>
							<li class="half-size">
								<a href="#">Blog</a>
							</li>
							<li class="half-size">
								<a href="#">About Us</a>
							</li>
							<li class="half-size">
								<a href="#">Testimonial</a>
							</li>
							<li class="half-size">
								<a href="#">Our Team</a>
							</li>
							<li class="half-size">
								<a href="#">Contact Us</a>
							</li>
							<li class="half-size">
								<a href="#">Portfolio</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="lk-widget-archives-container">
						<div class="lk-title-heading gray-style">
							<h4 class="lk-title text-white text-upper">Archives</h4>
						</div>
						<ul class="lk-archives  no-list-style">
							<li class="half-size">
								<a href="#">January 2016</a>
							</li>
							<li class="half-size">
								<a href="#">February 2016</a>
							</li>
							<li class="half-size">
								<a href="#">March 2016</a>
							</li>
							<li class="half-size">
								<a href="#">April 2016</a>
							</li>
							<li class="half-size">
								<a href="#">May 2016</a>
							</li>
							<li class="half-size">
								<a href="#">June 2016</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="lk-widget-newsletter-container">
						<div class="lk-title-heading gray-style">
							<h4 class="lk-title text-white text-upper">Newsletter</h4>
						</div>
						<div class="lk-newsletter-description">
							Sign up for our mailing list to get latest
							updates and offers.
						</div>
						<div class="lk-newsletter-field">
							<input type="text" placeholder="Email address">
							<span class="lk-newsletter-field-icon"><i class="fa fa-envelope-o"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom footer-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="copyright">Copyright &copy; 2017 by Loki</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-right">
					<div class="lk-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="lk-scroll-to-top" data-scroll-height="300">
	<a href="javascript:;">
		<i class="fa fa-long-arrow-up"></i>
	</a>
</div>