<header class="header-float header-main" data-heigh-fixed="300">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo dp-inline"><img alt="Loki site template" width="105" height="92" src="assets/images/logo.png" /></div>
                <div class="menu ff-main text-upper">
                    <ul class="lk-root-menu">
                        <li class="menu-item active">
                            <a routerLink="/" class="transition">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="transition">Pages</a>
                            <ul role="menu" class="sub-menu">
                                <li>
                                    <a routerLink="/bundled">Blog</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-grid.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="pages/about-us.html">About us</a>
                                </li>
                                <li>
                                    <a href="pages/contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="pages/our-team.html">Our team</a>
                                </li>
                                <li>
                                    <a href="pages/our-team-02.html">Our team style 02</a>
                                </li>
                                <li>
                                    <a href="pages/coming-soon.html">Coming soon image</a>
                                </li>
                                <li>
                                    <a href="pages/coming-soon-video.html">Coming soon video</a>
                                </li>
                                <li>
                                    <a href="pages/404.html">404 page</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="transition">Elements</a>
                            <div class="lk-mega-menu-container">
                                <ul role="menu" class="sub-menu lk-mega-menu row">
                                    <li class="lk-mega-menu-col col-md-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="elements/accordion.html"><i class="icon icon-Layers"></i>
                                                    Accordion</a>
                                            </li>
                                            <li>
                                                <a href="elements/blog.html"><i class="icon icon-Blog"></i> Blog</a>
                                            </li>
                                            <li>
                                                <a href="elements/buttons.html"><i class="icon icon-PowerOff"></i>
                                                    Button</a>
                                            </li>
                                            <li>
                                                <a href="elements/contact.html"><i class="icon icon-Phone2"></i> Contact</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="lk-mega-menu-col  col-md-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="elements/count-down.html"><i class="icon icon-Timer"></i>
                                                    Countdown</a>
                                            </li>
                                            <li>
                                                <a href="elements/google-map.html"><i class="icon icon-WorldWide"></i>
                                                    Google map</a>
                                            </li>
                                            <li>
                                                <a href="elements/heading.html"><i class="icon  icon-Pen"></i>
                                                    Heading</a>
                                            </li>
                                            <li>
                                                <a href="elements/icon-box.html"><i class="icon  icon-Heart"></i> Icon
                                                                                                                  box</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="lk-mega-menu-col  col-md-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="elements/our-team.html"><i class="icon icon-Users"></i> Our
                                                                                                                 Team</a>
                                            </li>
                                            <li>
                                                <a href="elements/partner.html"><i class="icon icon-Rolodex"></i>
                                                    Partner</a>
                                            </li>
                                            <li>
                                                <a href="elements/portfolio.html"><i class="icon icon-Briefcase"></i>
                                                    Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="elements/progress-bar.html"><i class="icon icon-Chart2"></i>
                                                    Progress bar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="lk-mega-menu-col  col-md-3">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="elements/social-icon.html"><i class="icon icon-Share"></i>
                                                    Social Icon</a>
                                            </li>
                                            <li>
                                                <a href="elements/single-image.html"><i class="icon icon-Picture"></i>
                                                    Single image</a>
                                            </li>
                                            <li>
                                                <a href="elements/tabs.html"><i class="icon icon-Web"></i> Tabs</a>
                                            </li>
                                            <li>
                                                <a href="elements/testimonial.html"><i
                                                        class="icon icon-MessageRight"></i> Testimonial</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li class="menu-item">
                            <a href="#" class="transition">Blog</a>
                            <ul role="menu" class="sub-menu">
                                <li>
                                    <a href="pages/blog/blog.html">Blog Archive</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-standard-detail.html">Single blog standard</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-audio-detail.html">Single blog audio</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-gallery-detail.html">Single blog gallery</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-video-detail.html">Single blog video</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-quote-detail.html">Single blog quote</a>
                                </li>
                                <li>
                                    <a href="pages/blog/blog-link-detail.html">Single blog link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="transition">Portfolio</a>
                            <ul role="menu" class="sub-menu">
                                <li>
                                    <a href="pages/portfolio/portfolio-grid.html">Grid layout</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-masonry.html">Masonry layout</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-metro.html">Metro layout</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-single-image-left.html">Single gallery left</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-single-image-top.html">Single gallery top</a>
                                </li>
                                <li>
                                    <a href="pages/portfolio/portfolio-single-video-left.html">Single video left</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="pages/our-team.html" class="transition">Team</a>
                        </li>
                        <li class="menu-item">
                            <a href="pages/contact.html" class="transition">Contact</a>
                        </li>

                    </ul>
                </div>
                <div class="menu-mobile-icon menu-float-container ff-main text-upper">
                    <a href="javascript:;" class="icon-menu-float">
                        <span class="lk-icon-lines"></span>
                    </a>
                </div>
                <div class="menu-mobile lk-menu-float">
                    <ul class="lk-root-menu menu-float">
                        <li class="menu-item active has-sub-menu">
                            <a href="#" class="transition-05">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="index-2.html" class="transition-05">Home 01</a>
                                </li>
                                <li class="menu-item">
                                    <a href="index-02.html" class="transition-05">Home 02</a>
                                </li>
                                <li class="menu-item">
                                    <a href="index-03.html" class="transition-05">Home 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item has-sub-menu ">
                            <a href="#" class="transition-05">Portfolio</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="pages/portfolio/portfolio-grid.html" class="transition-05">Grid layout</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/portfolio/portfolio-masonry.html" class="transition-05">Masonry
                                                                                                           Layout</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/portfolio/portfolio-metro.html" class="transition-05">Metro
                                                                                                         Layout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item has-sub-menu ">
                            <a href="#" class="transition-05">Blog</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="pages/blog/blog.html" class="transition-05">Archive blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-standard-detail.html" class="transition-05">Blog
                                                                                                         standard</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-audio-detail.html" class="transition-05">Blog audio</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-video-detail.html" class="transition-05">Blog video</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-gallery-detail.html" class="transition-05">Blog gallery</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-quote-detail.html" class="transition-05">Blog quote</a>
                                </li>
                                <li class="menu-item">
                                    <a href="pages/blog/blog-link-detail.html" class="transition-05">Blog link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="pages/our-team.html" class="transition-05">Our Team</a>
                        </li>
                        <li class="menu-item">
                            <a href="pages/contact.html" class="transition-05">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
