<spinner backgroundColor="#ffffff" spinner="sk-cube-grid"></spinner>
<!-- Navbar -->
<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" [routerLink]="'/home'" class="brand-logo"><img src="assets/img/logo.png" height="64"/></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<div style="width: 300px;">
					<div class="input-field">
						<ng-select [items]="computerSearch"
						[virtualScroll]="true"
						bindLabel="model"
						bindValue="id"
						notFoundText="Aucun ordinateur trouvé"
						placeholder="Rechercher un ordinateur"
						[(ngModel)]="selectedArticleId">

						<ng-template ng-label-tmp let-item="item">
							<a href="article/{{item.id}}">
								{{item.model}}
							</a>
						</ng-template>

						<ng-template ng-option-tmp let-item="item" let-index="index">
							<a href="article/{{item.id}}">
								<img [src]="item.picture" class="imgSearch"/>
								{{item.model}}
							</a>
						</ng-template>
					</ng-select>
					<label class="label-icon" for="search"><i mz-icon-mdi [icon]="'magnify'"></i></label>
				</div>
			</div>
		</li>
		<!-- <li><a (click)="registerModal.open()">Inscription</a></li> -->
		<!-- <li><a (click)="loginModal.open()">Login</a></li> -->
	</ul>
	<a href="#" class="button-collapse" style="color: #444;" [id]="'btn-sidenav'"><i mz-icon-mdi [icon]="'menu'" [size]="'36px'"></i></a>
</div>
</nav>

<!-- Mobile menu -->
<mz-sidenav
[id]="'sidenav'"
[collapseButtonId]="'btn-sidenav'">
<mz-sidenav-subheader>Menu</mz-sidenav-subheader>
<!-- <mz-sidenav-link>
<a (click)="loginModal.open()">Login</a>
</mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider>
<mz-sidenav-link>
<a (click)="registerModal.open()">Inscription</a>
</mz-sidenav-link>
<mz-sidenav-divider></mz-sidenav-divider> -->
<mz-sidenav-link>
	<div style="margin-top: 5px;">
		<div class="input-field">
			<ng-select [items]="computerSearch"
			[virtualScroll]="true"
			bindLabel="model"
			bindValue="id"
			notFoundText="Aucun ordinateur trouvé"
			placeholder="Rechercher un ordinateur"
			[(ngModel)]="selectedArticleId">

			<ng-template ng-label-tmp let-item="item">
				<a href="article/{{item.id}}">
					{{item.model}}
				</a>
			</ng-template>

			<ng-template ng-option-tmp let-item="item" let-index="index">
				<a href="article/{{item.id}}">
					<img [src]="item.picture" class="imgSearch"/>
					{{item.model}}
				</a>
			</ng-template>
		</ng-select>
		<label class="label-icon" for="search"><i mz-icon-mdi [icon]="'magnify'"></i></label>
	</div>
</div>
</mz-sidenav-link>
</mz-sidenav>

<!-- Modal login -->
<mz-modal #loginModal id="loginModal">
	<mz-modal-header class="modalTitle"><img height="128" src="assets/img/login.png" class="imgModal"></mz-modal-header>
	<mz-modal-content class="row center">
		<!-- Email -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'email-outline'"></i>
			<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailLogin" label="Email" type="email">
		</mz-input-container>
		<!-- Mot de passe -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'lock-outline'"></i>
			<input mz-input id="passwordLogin" label="Mot de passe" type="password">
		</mz-input-container>
		<mz-input-container class="col s12" style="margin-bottom: 1em;">
			<button mz-button class="amber darken-4" style="width: 100%;">Connexion</button>
		</mz-input-container>
		<!-- <p>
		OU
	</p>
	<mz-input-container class="col s12">
	<button mz-button class="light-blue darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'facebook'" [align]="'center'"></i>Se connecter avec Facebook</button>
</mz-input-container>
<mz-input-container class="col s12">
<button mz-button class="red darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'google-plus'" [align]="'center'"></i>Se connecter avec Google</button>
</mz-input-container> -->
</mz-modal-content>
</mz-modal>

<!-- Modal inscription -->
<mz-modal #registerModal id="registerModal">
	<mz-modal-header class="modalTitle"><img height="128" src="assets/img/register.png" class="imgModal"></mz-modal-header>
	<mz-modal-content class="row center">

		<!-- Username -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'account-outline'"></i>
			<input mz-input id="loginRegister" label="Login" type="text">
		</mz-input-container>

		<!-- Email -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'email-outline'"></i>
			<input mz-input [validate]="true" [dataError]="'Email non valide'" [dataSuccess]="'Email valide'" id="emailRegister" label="Email" type="email">
		</mz-input-container>

		<!-- Mot de passe -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'lock-outline'"></i>
			<input mz-input id="passwordRegister" label="Mot de passe" type="password">
		</mz-input-container>

		<!-- Confirmation mot de passe -->
		<mz-input-container class="col s12">
			<i mz-icon-mdi mz-input-prefix [icon]="'lock-outline'"></i>
			<input mz-input id="passwordConfirmRegister" label="Confirmer mot de passe" type="password">
		</mz-input-container>

		<mz-input-container class="col s12" style="margin-bottom: 1em;">
			<button mz-button class="amber darken-4" style="width: 100%;">Inscription</button>
		</mz-input-container>
		<!-- <p>
		OU
	</p>
	<mz-input-container class="col s12">
	<button mz-button class="light-blue darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'facebook'" [align]="'center'"></i>S'inscrire avec Facebook</button>
</mz-input-container>
<mz-input-container class="col s12">
<button mz-button class="red darken-4" style="width: 100%;"><i mz-icon-mdi [icon]="'google-plus'" [align]="'center'"></i>S'inscrire avec Google</button>
</mz-input-container> -->
</mz-modal-content>
</mz-modal>

<!-- Routes -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer grey darken-4">
	<div class="container pad10">
		<div class="row">
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Liens utiles</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" [routerLink]="'/about-us'">À propos de nous</a></li>
				</ul>
			</div>
			<div class="col l6 s12">
				<h5 class="white-text">Contact</h5>
				<form>
					<div class="row mb0">
						<div class="input-field col s12">
							<input id="emailContact" type="text" class="validate">
							<label for="emailContact">Email</label>
						</div>
					</div>

					<div class="row mb0">
						<div class="input-field col s12">
							<textarea id="messageContact" type="text" class="materialize-textarea validate"></textarea>
							<label for="messageContact">Message</label>
						</div>
					</div>
					<button mz-button type="submit" class="amber darken-4 btn waves-effect waves-light">Envoyer</button>
				</form>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container text-center">
			Made by <a class="white-text" [routerLink]="'/home'">Need PC</a>
		</div>
	</div>
</footer>
