<div class="no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="header text-orange">{{count}}</h4>
        <div class="chip">
          <a class="handCursor">Jouer<i mz-icon-mdi [icon]="'close'" [size]="'13px'"></i></a>
        </div>
        <div class="chip">
          <a class="handCursor">Assassin's Creed Origin<i mz-icon-mdi [icon]="'close'" [size]="'13px'"></i></a>
        </div>
        <div class="chip">
          <a class="handCursor">1500€ ou plus<i mz-icon-mdi [icon]="'close'" [size]="'13px'"></i></a>
        </div>
        <div class="chip">
          <a class="handCursor">17 pouces<i mz-icon-mdi [icon]="'close'" [size]="'13px'"></i></a>
        </div>
        <mz-select-container>
          <select multiple mz-select id="filter" [label]="'Filtres'" [placeholder]="'Affinez votre recherche'">
            <optgroup *ngFor="let filter of filters" label="{{filter.filterName}}">
              <option *ngFor="let item of filter.option">{{item.title}}</option>
            </optgroup>
          </select>
        </mz-select-container>
      </div>
      <div class="col s12">
        <div class="row">
          <div *ngFor="let computer of computers" class="col l4 s12">
            <div class="card">
              <div class="card-image">
                <img src={{computer.picture}}>
                <span class="card-title" style="background: white; width: 100%;">{{computer.model}}</span>
              </div>
              <div class="card-action">
                <a [routerLink]="['/article', computer.id]" mz-button class="amber darken-4">Voir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
