<div class="no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="header text-orange">Résultat (1)</h4>
      </div>
      <div class="col s12">
        <div class="row">
          <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="http://media.ldlc.com/ld/products/00/04/22/27/LD0004222726_2.jpg">
                <span class="card-title" style="color: rgba(0, 0, 0, 0.87);">Lenovo IdeaPad Y910-17ISK</span>
              </div>
              <div class="card-action">
                <a [routerLink]="'/article'" mz-button class="amber darken-4">Voir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
