<div class="no-pad-bot">
	<div class="container">
		<br>
		<!-- Search section -->
		<h1 class="header center white-text pc-top25">{{title}}</h1>
		<div class="row center">
			<h5 class="header col s12 light white-text">La plateforme qui saura trouver ce que vous cherchez</h5>
		</div>
		<div class="section" id="main-section" style="max-width: 900px; margin: auto;">
			<div class="row">
				<div class="col s12">
					<mz-collapsible
					[mode]="'expandable'"
					[onClose]="closeFunctionCallback"
					[onOpen]="openFunctionCallback">
					<mz-collapsible-item [active]="true">
						<mz-collapsible-item-header [innerHTML]="question"></mz-collapsible-item-header>
						<mz-collapsible-item-body>
							<mz-select-container [hidden]="hideElement">
								<select mz-select #reponses>
									<option *ngFor="let option of objectKeys(objOption)" [value]="objOption[option]">{{option}}</option>
								</select>
							</mz-select-container>
							<p [innerHTML]="recap"></p>
							<a [routerLink]="'/articleList'" class="waves-effect waves-light btn amber darken-4" [hidden]="hideButton"><i mz-icon-mdi [icon]="'chevron-right'"></i> Lancer la recherce</a>
							<button class="waves-effect waves-light btn amber darken-4" (click)="nextOption(reponses.value, 'previous')" [hidden]="hideElement"><i mz-icon-mdi [icon]="'chevron-left'"></i> Retour</button>
							<button class="waves-effect waves-light btn amber darken-4" (click)="nextOption(reponses.value, 'next')" [hidden]="hideElement"><i mz-icon-mdi [icon]="'chevron-right'"></i> Suivant</button>
						</mz-collapsible-item-body>
					</mz-collapsible-item>
				</mz-collapsible>
			</div>
		</div>
	</div>
</div>
</div>
