.no-pad-bot {
  height: calc(100vh - 64px);
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.input-field label {
  top: -10px;
  left: 5px;
}
#search {
  border-radius: 2px;
}
form {
  padding: 0 2rem 0 2rem;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
  margin-left: 0rem;
}
.pc-searchbar {
  background-color: white!important;
  padding-left: 35px!important;
  -webkit-box-sizing: border-box!important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box!important;    /* Firefox, other Gecko */
  box-sizing: border-box!important;         /* Opera/IE 8+ */
}
@media screen and (max-height: 499px) {
  .pc-top25 {
    margin-top: calc((100vh / 4) - 64px);
  }
}
@media screen and (min-height: 500px) and (max-width: 599px) {
  .pc-top25 {
    margin-top: 10vh;
  }
}
@media screen and (min-height: 600px) {
  .pc-top25 {
    margin-top: calc((100vh / 4) - 32px);
  }
}
#rowSearch {
  margin-top: 40px;
  margin-bottom: 60px;
}
/*ul:not(.browser-default) {
	max-width: 900px;
	margin: auto;
	border: none;
	box-shadow: none;
}*/
