/* You can add global styles to this file, and also import other style files */
.pad10 {
  padding-top: 10px;
}
.padl10 {
  padding-left: 10px;
}
.padr10 {
  padding-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.justify {
  text-align: justify!important;
}
#spinner {
  opacity: 1!important;
  background-color: #ff6f00!important;
}
html {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 80%!important;
  background-color: #fafafa
}
body {
  font-family: 'Montserrat', sans-serif!important;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  vertical-align: inherit;
}
@media (min-width: 993px) {
  #btn-sidenav {
    display: none!important;
  }
}
nav {
  height: 64px!important;
}
nav .button-collapse i {
  height: 64px!important;
  line-height: 64px!important;
}
@media (max-width: 992px) {
  #searchIconNav {
    top: -20px!important;
  }
  input[type=search]:not(.browser-default) {
    padding-left: 35px!important;
  }
}
.no-padding-left {
  padding-left: 0!important;
}
.text-orange {
  color: #ff512f !important;
}
input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e!important;
}
.slide {
  width: auto!important;
  max-height: 350px!important;
  min-height: 100px!important;
}
.carousel-nav-list__item {
  background-color: #444!important;
}
.carousel-nav-list__item.carousel-nav-list__item--current {
  background-color: #ff512f!important;
}
.collapsible-body {
  background: white!important;
}
nav .input-field label i {
  color: rgba(0, 0, 0, 0.7)!important;
  margin-top: -20px;
}
.nav-wrapper .input-field input[type=search] {
  height: 32px!important;
  padding-top: 12px!important;
  color: #444;
}
nav .input-field label {
  top: 19px!important;
  right: 10px!important;
  -webkit-transform: translateY(0px)!important;
  transform: translateY(0px)!important;
  left: initial!important;
}
.ng-dropdown-panel .scroll-host {
  margin-top: -12px;
}
#sidenav .input-field label {
  top: 15px!important;
  right: 20px!important;
  -webkit-transform: translateY(0px)!important;
  transform: translateY(0px)!important;
  left: initial!important;
}
#sidenav .input-field {
  padding: 15px;
}
#sidenav .ng-dropdown-panel .scroll-host {
  margin-top: -6px;
}
.bot30 {
  margin-bottom: 0.75rem;
}
.autocomplete-content {
  position: absolute!important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.page-footer {
  padding-top: 0px!important;
}
.ng-dropdown-panel .scroll-host {
  background: white;
}
.centerFlex {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.imgSearch {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  vertical-align: middle;
}
.ng-placeholder {
  padding-left: 15px;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
  border: 1px solid rgba(0, 0, 0, 0.125)!important;
  border-radius: 3px!important;
  padding-left: 15px;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-right: 17px;
}
.ng-dropdown-panel .scroll-host {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #333;
  text-align: left;
}
.ng-option-disabled {
  padding-left: 15px;
}
.simpleModeTitle {
  font-size: 1.25rem;
}
.reading-label {
  pointer-events: none!important;
}
canvas {
  width: 100% !important;
  height: auto !important;
}
#expertMode .collapsible-body {
  padding: 0!important;
}
#expertMode .card-content {
  padding: 0px!important;
}
#expertMode .card-action {
  padding: 0px!important;
}
#disqus_thread {
  padding: 15px!important;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 40px;
}

.current {
  position: absolute;
  color: inherit;
  font-weight: 100;
  line-height: 1;
}
round-progress {
  margin: auto;
}
.back {
  position: fixed;
  top: 5px;
  right: 5px;
}
.btn, .btn-large, .btn-flat {
  padding: 0 0.75rem!important;
  display: inline-flex!important;
  align-items: center!important;
  text-transform: initial!important;
}
/* Fonts responsive */
@media (max-width: 767px) {
  h1 {
    font-size: 3.2rem!important;
  }
  h5 {
    font-size: 1.3rem!important;
  }
}
[hidden], template {
  display: none!important;
}
.collapsible-body {
  padding: 1.25rem!important;
}
.nav-wrapper {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.current {
  position: relative!important;
}
.ngx-pagination .current {
  background: #ff6f00!important;
  width: 32px;
  height: 32px;
  border-radius: 3px!important;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 5px;
}
.ngx-pagination a, .ngx-pagination button {
  display: inline-flex!important;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 3px!important;
  margin-left: 5px;
}
.pagination-previous a {
  border-radius: 3px!important;
  width: auto;
}
.pagination-next a {
  border-radius: 3px!important;
  width: auto;
}
